<div class="container">
<div class="header">

<h1 class="title">_POLETEKT</h1>
{{>login}}

</div>

<div class="gallery-container">
  {{#each gallery}}
     <div class="image-container">
       <a href="/gallery/{{id}}/edit">
      <img class="image"src="{{link}}" alt="not working">
      </a>
      <h2 class="underbox">{{author}}: {{description}}</h2>
    </div>
  {{/each}}
  </div>
</div>
