<h1>_ARCHITEKT</h1>
<div class="container">

  {{#each gallery}}
    <div class="image_container">
      <img id="img{{id}}"src="{{link}}" alt="not working">
      <h2 class="underbox">{{author}}: {{description}}</h2>
    </div>

  {{/each}}
</div>
