

      <div class="container3">
        <div class="title-container">
              <h1 id="new-title">
                  <a href="/gallery">_POLETEKT</a>
              </h1>
        </div>


      <form class="login-form" action="/login" method="post">
            USERNAME: <input type="text" name="username"><br>
            PASSWORD:  <input type="password" name="password"><br>
            <button id="login-button" type="submit" ><u>SEND</u></button>
      </form>


<form class="new-user-form" action="/login/new" method="post">
  NEW USERNAME: <input type="text" name="username"><br>
  NEW PASSWORD:  <input type="password" name="password"><br>
  <button id="sign-up-button" type="submit" ><u>SUBMIT</u></button>
</form>
</div>
