<h1>ADD A NEW DANCER</h1>
<form class="form" action="/gallery/new" method="post">
  Author: <input type="text" name="author"><br>
  Picture: <input type="text" name="link"><br>
  Description <input type="text" name="description"><br>
  <input type="submit" value="Submit">
</form>
