

<div class="container3">


<h1 id="edit-title">
  <a href="/gallery">_POLETEKT   </a>
  </h1>



<div class="sign-up-container">
<form class="form" action="/login/new" method="post">
  NEW USERNAME: <input type="text" name="username"><br>
  NEW PASSWORD:  <input type="text" name="password"><br>
  <button id="sign-up-button" type="submit" >SEND</button>
</form>
</div>


</div>
