<h1>Add A New Listing</h1>
<form action="/gallery/new" method="post">
  Author: <input type="text" name="author"><br>
  Picture: <input type="text" name="link"><br>
  Description <input type="text" name="description"><br>
  <input type="submit" value="Submit">
</form>
