
{{#if user}}
<div class="logout-container">


<label class="dropdown">

  <div class="dd-button">
    _NEW PIC
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
  <form class="form" action="/gallery/new" method="post">
  <label for="Author">AUTHOR</label>
  <input id="Author" type="text" name="author" placeholder="Author">
  <label for="description">DESCRIPTION</label>
  <input id = "description" type="text" name="description" placeholder="Description">
  <label for="link">Link</label>
  <input id = "link" type="text" name="link" placeholder="LINK">
  <button id ="new-pic-button" type="submit"><u>SEND</u></button>

</form>
</ul>



</label>
<form class="form" action="/logout" method="GET">
<button id="logout-button">
_LOGOUT
</button>
</form>
</div>


{{else}}
<div class="logout-container">
<label class="dropdown">

  <div class="dd-button">
    _LOGIN
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
   <form class="form" action="/login" method="post">
  USERNAME: <input type="text" name="username"><br>
  PASSWORD:  <input type="text" name="password"><br>
  <button id="login-button" type="submit" ><u>SUBMIT</u></button>

  <a href="/gallery/new">
  <h1 id="new-user-button"><u>NEW USER?</u></h1>
  </a>
</form>

  </ul>

</label>
</div>

{{/if}}
