
<div class="logout-container">


<label class="dropdown">

  <div class="dd-button">
    _NEW PIC
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
  <form class="form" action="/gallery/new" method="post">
  <label for="Author">AUTHOR</label>
  <input id="Author" type="text" name="author" placeholder="Author">
  <label for="description">DESCRIPTION</label>
  <input id = "description" type="text" name="description" placeholder="Description">
  <label for="link">Link</label>
  <input id = "link" type="text" name="link" placeholder="LINK">
  <div class="add_meta_field">
    <ul id="meta_fields"></ul>

    <button id="add_meta_field_button" type="button" >Add Meta Data</button>
  </div>
  <button id ="new-pic-button" type="submit"><u>SEND</u></button>



              </form>
</form>
</ul>



</label>
<form class="form" action="/logout" method="GET">
<button id="logout-button">
_LOGOUT
</button>
</form>
</div>



    <script src="/js/metaFields.js"></script>
