
{{#if user}}

<label class="dropdown">

  <div class="dd-button">
    NEW PIC
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
  <form action="/gallery" method="post">
  <label for="Author">Author</label>
  <input id="Author" type="text" name="Author" placeholder="Author">
  <label for="description">Description</label>
  <input id = "description" type="text" name="description" placeholder="Description">
  <label for="link">Link</label>
  <input id = "link" type="text" name="link" placeholder="Link">
  <input type="submit" name="" value="Send">
</form>
</ul>

</label>



{{else}}

<label class="dropdown">

  <div class="dd-button">
    LOGIN
  </div>

  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu">
   <form class="form" action="/login" method="post">
  Username: <input type="text" name="username"><br>
  Password:  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>

  </ul>

</label>


{{/if}}
