



<div id="login">
<form class="form" action="/login/new" method="post">
  New Username: <input type="text" name="username"><br>
  New Password:  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>
</div>
