<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans:700" rel="stylesheet">
    <title></title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
